@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  gap: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
  height: 320px;
  width: 300px;
  margin-left: -80px;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .informations{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    padding: 0 20px;
}

.card .informations .soon{
    color: #555;
}

.card .informations  button{
    padding: 20px 0;
    width: 250px;
    border-radius: 30px;
    border: none;
    background-color: rgb(108, 6, 162);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.card .informations  button:hover{
    background-color: rgb(194, 69, 232);
}

@media(max-width:940px){
    .card{
        flex-direction: column;
        width: 650px;
        height: 490px;
        text-align: center;
    }

    .card img{
        margin-left: 0px;
        margin-top: -55px;  
    }

    .card .informations{
        gap: 5px;
        font-size: 15px;

    }

    .card .informations  button{
        margin: 0 auto;
    }
}

@media(max-width:660px){
    body{
        justify-content: center;
        align-items: center;

    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 90%;
        height: 490px;
    }

    .card .informations  button{
        width: 100%;
        margin-bottom: 12px;
    }

    @media(max-width:400px){
        .card .informations{
            font-size: 15px;
        }

        .card .informations h1{
            font-size: 26px;
        }
    }
}
